// WHEN PSD SHRINKS
	// $body-size:12px;
	// $menu-size:12px;
	// $h1-size:40px;
	// $h2-size:24px;
	// $h3-size:16px;
	// $p-line-height: 20px;


// 20% OF OROGINAL
	$body-size:18-(18*0.2px); 
	$menu-size:18-(18*0.2px); 
	$h1-size:60-(60*0.2px); 
	$h2-size:36-(36*0.2px); 
	$h3-size:24-(24*0.2px); 
	$p-line-height:30-(30*0.2px);


// ORIGINAL
	// $body-size:18px; 
	// $menu-size:18px); 
	// $h1-size:60px; 
	// $h2-size:36px; 
	// $h3-size:24px; 
	// $p-line-height:30px; 

