$body-color:#4b4b4b;
$white-color:white;
$white-darker-color:#f8f8f8;
$black-color:black;
$blue-color:#148dd8;
$blue-darker-color:#474d63;
$blue-lighter-color:#0e72ae;
$footer-bg-color:#21242d;
$footer-blue-color:#0085e5;