@font-face {
  font-family: 'Lora Bold';
  src: url("../../fonts/lora/Lora-Bold.ttf");
  src: url("../../fonts/lora/Lora-Bold.ttf?#iefix") format("embedded-opentype"), url("../../fonts/lora/Lora-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lora Regular';
  src: url("../../fonts/lora/Lora-Regular.ttf");
  src: url("../../fonts/lora/Lora-Regular.ttf?#iefix") format("embedded-opentype"), url("../../fonts/lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lora Italic';
  src: url("../../fonts/lora/Lora-Italic.ttf");
  src: url("../../fonts/lora/Lora-Italic.ttf?#iefix") format("embedded-opentype"), url("../../fonts/lora/Lora-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald Bold';
  src: url("../../fonts/oswald/Oswald-Bold.ttf");
  src: url("../../fonts/oswald/Oswald-Bold.ttf?#iefix") format("embedded-opentype"), url("../../fonts/oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald Regular';
  src: url("../../fonts/oswald/Oswald-Regular.ttf");
  src: url("../../fonts/oswald/Oswald-Regular.ttf?#iefix") format("embedded-opentype"), url("../../fonts/oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald Light';
  src: url("../../fonts/oswald/Oswald-Light.ttf");
  src: url("../../fonts/oswald/Oswald-Light.ttf?#iefix") format("embedded-opentype"), url("../../fonts/oswald/Oswald-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.black-base {
  color: #241c18; }

body {
  font-family: 'Lora Regular';
  font-size: 18px;
  color: #241c18; }

h1, h2, h3, h4, p {
  word-wrap: break-word; }

h1 {
  font-size: 100px;
  line-height: 100px;
  font-family: 'Oswald Bold';
  color: #e4dddb;
  max-width: 800px; }
  h1 > span {
    display: block; }

h2 {
  font-size: 36px;
  font-family: 'Oswald Regular'; }

h3 {
  font-size: 30px;
  font-family: 'Oswald Light'; }
  h3 small {
    display: block;
    font-size: 18px;
    font-family: 'Lora Regular';
    color: #826b60;
    margin-top: 19px; }

p {
  line-height: 36px; }

a {
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.floatNone {
  float: none; }

.layoutFix, header ul.main-menu > li a, footer .copy, footer .formContainer button, footer .footer-menu > li > a {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.dInlineBlock {
  display: inline-block; }

.dBlock {
  display: block; }

.dInline {
  display: inline; }

.fontRobotoThin {
  font-family: 'Roboto Thin'; }

.contentContainer span {
  display: block; }

.button {
  ouline: none;
  border: none;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  font-family: 'Oswald Regular';
  color: #826b60;
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap; }
  .button.listen {
    background: #e4dddb; }
    .button.listen:focus {
      color: #826b60; }
    .button.listen:hover {
      background: #cec1be;
      color: #826b60; }
  .button.buy {
    background: #826b60;
    color: white; }
    .button.buy:focus, .button.buy:hover {
      color: white; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 100;
  display: table; }
  .overlay .overlayContent {
    display: table-cell;
    vertical-align: middle; }
  .overlay h2 {
    color: white; }
  .overlay h2:first-child {
    margin-top: 0; }
  .overlay h2:last-child {
    margin-bottom: 0; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10; }
  header ul.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 74px; }
    header ul.main-menu > li {
      float: left;
      position: relative; }
      header ul.main-menu > li.active ul {
        opacity: 1 !important; }
      header ul.main-menu > li a {
        margin-left: 18px;
        margin-right: 16px;
        font-family: 'Lora Bold';
        color: #241c18;
        position: relative;
        display: block;
        max-width: 140px; }
        header ul.main-menu > li a:hover ul {
          opacity: 1; }
        header ul.main-menu > li a > ul {
          -webkit-transition: all 0.2s linear;
             -moz-transition: all 0.2s linear;
               -o-transition: all 0.2s linear;
                  transition: all 0.2s linear;
          opacity: 0;
          height: 17px;
          overflow: hidden;
          margin: 0;
          padding: 0;
          width: 100%;
          position: absolute;
          bottom: -19px;
          left: 0px;
          list-style: none; }
          header ul.main-menu > li a > ul li {
            width: 7px;
            border-right: 5px solid #826b60;
            float: left;
            height: 12px; }
          header ul.main-menu > li a > ul li:nth-child(4n+1) {
            height: 6px; }
          header ul.main-menu > li a > ul li:nth-child(2n+2) {
            height: 11px; }
          header ul.main-menu > li a > ul li:nth-child(4n+3) {
            height: 17px; }
          header ul.main-menu > li a > ul li:last-child {
            height: 6px !important; }
    header ul.main-menu > li:first-child a {
      margin-left: 0; }
    header ul.main-menu > li:not(:last-child):after {
      content: '';
      height: 6px;
      width: 6px;
      background: #826b60;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      position: absolute;
      top: 50%;
      right: -3px;
      margin-top: -3px; }

footer {
  background: url(../../img/footerBg.jpg) no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  padding-top: 141px;
  padding-bottom: 70px; }
  footer .mainContentContainer {
    max-width: 775px;
    margin: 0px auto; }
  footer .copy {
    color: white;
    font-family: 'Lora Bold';
    text-transform: uppercase;
    padding-left: 13px;
    display: inline-block;
    max-width: 500px; }
  footer form {
    display: inline !important; }
  footer h1 {
    color: #241c18;
    margin-bottom: 0;
    font-size: 80px;
    letter-spacing: 0.050em; }
    footer h1.smaller {
      margin-top: -8px !important;
      color: white;
      font-size: 72px;
      margin-top: 0;
      background: url(../../img/dotsPattern.jpg) repeat-x;
      background-position: left bottom;
      padding-bottom: 22px;
      margin-bottom: 43px !important; }
  footer .formContainer {
    position: relative;
    left: -25px;
    max-width: 530px;
    position: relative;
    border: 6px solid #241c18;
    line-height: 40px;
    overflow: hidden;
    display: inline-table; }
    footer .formContainer > div {
      display: table-cell;
      vertical-align: middle; }
    footer .formContainer .buttonContainer {
      max-width: 231px; }
    footer .formContainer input {
      background: transparent;
      outline: none;
      border: none;
      width: 100%;
      max-width: 293px;
      padding-left: 15px; }
    footer .formContainer button {
      float: left;
      vertical-align: middle;
      font-size: 36px;
      font-family: 'Oswald Bold';
      color: white;
      padding: 0 33px;
      padding-left: 24px;
      line-height: 42px;
      background: #241c18;
      outline: none;
      border: none;
      overflow: hidden;
      white-space: nowrap;
      max-width: 223px; }
  footer .socialContainer {
    vertical-align: top;
    display: inline-block;
    position: relative;
    left: 30px;
    top: -5px; }
    footer .socialContainer a:last-child {
      margin-left: 30px; }
  footer .row:last-child {
    margin-top: 391px; }
  footer .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 8px; }
    footer .footer-menu > li {
      float: left;
      position: relative; }
      footer .footer-menu > li.active ul {
        opacity: 1 !important; }
      footer .footer-menu > li > a {
        margin-right: 13px;
        margin-left: 12px;
        color: white;
        font-size: 18px;
        font-family: 'Lora Bold';
        display: block;
        max-width: 140px; }
        footer .footer-menu > li > a:hover ul {
          opacity: 1; }
        footer .footer-menu > li > a > ul {
          -webkit-transition: all 0.2s linear;
             -moz-transition: all 0.2s linear;
               -o-transition: all 0.2s linear;
                  transition: all 0.2s linear;
          opacity: 0;
          height: 17px;
          overflow: hidden;
          margin: 0;
          padding: 0;
          width: 100%;
          position: absolute;
          bottom: -19px;
          left: 0px;
          list-style: none;
          margin-left: 13px; }
          footer .footer-menu > li > a > ul li {
            width: 7px;
            border-right: 5px solid #826b60;
            float: left;
            height: 12px; }
          footer .footer-menu > li > a > ul li:nth-child(4n+1) {
            height: 6px; }
          footer .footer-menu > li > a > ul li:nth-child(2n+2) {
            height: 11px; }
          footer .footer-menu > li > a > ul li:nth-child(4n+3) {
            height: 17px; }
          footer .footer-menu > li > a > ul li:last-child {
            height: 6px !important; }
    footer .footer-menu > li:not(:last-child):after {
      content: '';
      height: 6px;
      width: 6px;
      background: #826b60;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      position: absolute;
      top: 50%;
      right: -3px;
      margin-top: -3px; }

section.top {
  width: 100%;
  text-align: right;
  background: url(../../img/topBg.jpg);
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }
  section.top .row {
    display: table;
    width: 100%;
    height: 100vh; }
    section.top .row .col-md-16 {
      display: table-cell;
      vertical-align: middle;
      float: none; }
  section.top h1 {
    display: inline-block;
    text-align: center; }

section.ourband {
  background: #f1eeed;
  padding-top: 204px; }
  section.ourband .item h2 {
    margin-bottom: 55px;
    margin-top: 250px; }
  section.ourband .carousel-control {
    top: 50%;
    margin-top: -45px; }
    section.ourband .carousel-control.left {
      background-image: none !important;
      bottom: auto;
      right: auto; }
    section.ourband .carousel-control.right {
      background-image: none !important;
      bottom: auto;
      left: auto; }
  section.ourband .carousel-indicators {
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
    overflow: hidden;
    width: 100%;
    max-width: 255px;
    position: absolute;
    top: 0px;
    right: 26%;
    left: auto;
    bottom: auto;
    display: table; }
    section.ourband .carousel-indicators li {
      width: 100%;
      height: auto;
      text-indent: 0px;
      margin: 0;
      margin-bottom: 25px;
      opacity: 0.2;
      color: #826b60;
      font-family: 'Lato Bold';
      font-size: 12px;
      ouline: none;
      border: none;
      position: relative;
      display: table-row;
      height: 39px; }
      section.ourband .carousel-indicators li > span {
        display: table-cell;
        vertical-align: middle;
        overflow: hidden; }
      section.ourband .carousel-indicators li span.text-right {
        max-width: 128px;
        width: 100%; }
      section.ourband .carousel-indicators li span.text-left {
        max-width: 100px;
        width: 100%; }
      section.ourband .carousel-indicators li .line > span {
        display: inline-block;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 14px;
           -moz-border-radius: 14px;
                border-radius: 14px;
        background: #826b60;
        position: relative;
        top: 1px;
        margin-right: 8px;
        margin-left: 8px; }
    section.ourband .carousel-indicators li.active {
      background: none;
      opacity: 1; }
  section.ourband .carousel-inner {
    overflow: hidden; }
    section.ourband .carousel-inner .item .row .col-md-5 {
      padding-top: 220px; }
    section.ourband .carousel-inner .item .row h1 {
      position: absolute;
      bottom: 100px;
      right: 145px;
      color: #826b60; }
      section.ourband .carousel-inner .item .row h1 span {
        color: #241c18; }

section.playlist {
  padding-top: 103px;
  padding-bottom: 111px; }
  section.playlist .row:first-child {
    padding-bottom: 62px;
    display: table;
    width: 100%; }
    section.playlist .row:first-child .col-md-8:first-child {
      display: table-cell;
      float: none;
      vertical-align: middle;
      padding-left: 43px; }
    section.playlist .row:first-child .col-md-8:last-child {
      padding-left: 94px;
      display: table-cell;
      float: none; }
      section.playlist .row:first-child .col-md-8:last-child h1, section.playlist .row:first-child .col-md-8:last-child h3 {
        max-width: 500px;
        overflow: hidden; }
      section.playlist .row:first-child .col-md-8:last-child h2 {
        margin-top: 23px;
        margin-bottom: 36px; }
    section.playlist .row:first-child audio {
      display: none; }
    section.playlist .row:first-child .controlsContainer {
      width: 100%;
      max-width: 337px;
      text-align: center;
      margin: 0px auto;
      overflow: hidden;
      margin-top: 40px;
      position: relative;
      right: 15px; }
      section.playlist .row:first-child .controlsContainer a {
        display: inline-block; }
      section.playlist .row:first-child .controlsContainer a:first-child {
        float: left; }
      section.playlist .row:first-child .controlsContainer a:last-child {
        float: right; }
      section.playlist .row:first-child .controlsContainer a.playPause {
        padding-left: 10px; }
        section.playlist .row:first-child .controlsContainer a.playPause img:last-child {
          display: none; }
        section.playlist .row:first-child .controlsContainer a.playPause.active img:first-child {
          display: none; }
        section.playlist .row:first-child .controlsContainer a.playPause.active img:last-child {
          display: block; }
    section.playlist .row:first-child .timelineContainer {
      margin-top: 20px;
      width: 100%;
      height: 33px;
      -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
              border-radius: 15px;
      position: relative;
      overflow: hidden;
      max-width: 634px; }
      section.playlist .row:first-child .timelineContainer .timeline {
        background: #e4dddb;
        height: 8px;
        margin-top: 12px;
        cursor: pointer; }
        section.playlist .row:first-child .timelineContainer .timeline .playhead {
          width: 100%;
          height: 8px;
          background: #ab9c95;
          position: relative; }
          section.playlist .row:first-child .timelineContainer .timeline .playhead:after {
            content: '';
            position: absolute;
            left: 0px;
            top: -12px;
            width: 33px;
            height: 33px;
            background: #826b60;
            -webkit-border-radius: 100%;
               -moz-border-radius: 100%;
                    border-radius: 100%;
            cursor: auto; }
  section.playlist .row:last-child h2.Discography {
    margin-top: 17px; }
  section.playlist .row:last-child ul.Discography {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    padding-top: 20px; }
    section.playlist .row:last-child ul.Discography li {
      height: 70px;
      display: table-row;
      border-bottom: 30px solid transparent; }
      section.playlist .row:last-child ul.Discography li > div {
        display: table-cell;
        vertical-align: middle;
        position: relative; }
      section.playlist .row:last-child ul.Discography li > div:first-child {
        max-width: 300px;
        overflow: hidden; }
      section.playlist .row:last-child ul.Discography li > div:nth-child(3) {
        overflow: hidden;
        max-width: 60px; }
      section.playlist .row:last-child ul.Discography li div.circleContainer {
        padding: 0px 41px; }
      section.playlist .row:last-child ul.Discography li div.listenButtonContainer {
        padding-left: 63px;
        padding-right: 30px; }
      section.playlist .row:last-child ul.Discography li h3 {
        margin: 0; }
      section.playlist .row:last-child ul.Discography li span.year {
        font-size: 30px;
        font-family: 'Oswald Light';
        color: #241c18; }
      section.playlist .row:last-child ul.Discography li span.circle {
        content: '';
        -webkit-border-radius: 100%;
           -moz-border-radius: 100%;
                border-radius: 100%;
        width: 14px;
        height: 14px;
        background: #e4dddb;
        position: relative;
        z-index: 1;
        display: block; }
  section.playlist .row:last-child h3.authorName {
    margin-left: -15px;
    margin-top: 22px; }
  section.playlist .row:last-child ul.tracks {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-top: 32px; }
    section.playlist .row:last-child ul.tracks li {
      color: #826b60;
      margin-bottom: 5px;
      padding-right: 30px; }
      section.playlist .row:last-child ul.tracks li span {
        display: inline-block;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap; }
      section.playlist .row:last-child ul.tracks li a {
        padding-left: 33px;
        position: relative;
        color: #826b60;
        display: inline-block;
        max-width: 400px;
        overflow: hidden;
        white-space: nowrap; }
        section.playlist .row:last-child ul.tracks li a:after {
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -8px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 13px;
          border-color: transparent transparent transparent #e4dddb; }
        section.playlist .row:last-child ul.tracks li a.active:after {
          border-color: transparent transparent transparent #826b60; }
        section.playlist .row:last-child ul.tracks li a:hover {
          color: #735f55; }

section.tourdates {
  background: #f1eeed; }
  section.tourdates > .container > h2 {
    margin-top: 77px;
    margin-bottom: 87px; }
  section.tourdates .eventsContainerTop {
    position: relative;
    max-width: 1000px;
    margin: 0px auto; }
    section.tourdates .eventsContainerTop:before {
      content: '';
      position: absolute;
      top: -20px;
      left: -24px;
      width: 100%;
      height: 2px;
      background: #e4dddb; }
    section.tourdates .eventsContainerTop .sliderDots {
      position: absolute;
      top: -26px;
      left: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-align: center;
      display: table; }
      section.tourdates .eventsContainerTop .sliderDots li {
        display: table-cell; }
        section.tourdates .eventsContainerTop .sliderDots li > span {
          position: relative; }
          section.tourdates .eventsContainerTop .sliderDots li > span:after {
            visibility: visible;
            position: relative;
            content: '';
            outline: none;
            border: none;
            display: inline-block;
            -webkit-border-radius: 100%;
               -moz-border-radius: 100%;
                    border-radius: 100%;
            background: #e4dddb;
            width: 14px;
            height: 14px;
            float: left;
            position: relative;
            z-index: 10; }
      section.tourdates .eventsContainerTop .sliderDots li.center > span:after {
        background: #241c18; }
      section.tourdates .eventsContainerTop .sliderDots li.rightOff > span:after {
        background: #826b60; }
    section.tourdates .eventsContainerTop .slide .contentContainer {
      position: relative;
      right: 250px;
      width: 300px; }
      section.tourdates .eventsContainerTop .slide .contentContainer span {
        display: block;
        text-align: right;
        font-family: 'Lora Bold';
        font-size: 16px;
        line-height: 16px; }
    section.tourdates .eventsContainerTop .bx-wrapper {
      height: 400px !important; }
      section.tourdates .eventsContainerTop .bx-wrapper .bx-viewport {
        height: 400px !important;
        border: none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        background: transparent; }
      section.tourdates .eventsContainerTop .bx-wrapper .bx-prev {
        background: url(../../img/leftSmall.png) no-repeat;
        width: 25px;
        height: 47px;
        top: 33%;
        left: -55px; }
      section.tourdates .eventsContainerTop .bx-wrapper .bx-next {
        background: url(../../img/rightSmall.png) no-repeat;
        width: 25px;
        height: 47px;
        top: 33%;
        right: -6px; }
    section.tourdates .eventsContainerTop .eventsContainerTopSlider .slide {
      -webkit-transform: rotate(-90deg);
         -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
           -o-transform: rotate(-90deg);
              transform: rotate(-90deg); }
      section.tourdates .eventsContainerTop .eventsContainerTopSlider .slide.leftAll .contentContainer span {
        color: #e4dddb !important; }
      section.tourdates .eventsContainerTop .eventsContainerTopSlider .slide.activeSlide .contentContainer span {
        color: #241c18 !important; }
      section.tourdates .eventsContainerTop .eventsContainerTopSlider .slide.rightAll .contentContainer span {
        color: #826b60 !important; }
  section.tourdates .eventsContainer {
    outline: none;
    position: relative;
    left: 49px;
    margin: 0px auto;
    width: 100%;
    max-width: 1268px;
    color: #241c18;
    max-height: 286px;
    overflow-y: scroll;
    overflow-x: hidden; }
    section.tourdates .eventsContainer .jspDrag {
      background: #cbc2bd; }
    section.tourdates .eventsContainer .jspTrack {
      background: #eae5e3; }
    section.tourdates .eventsContainer ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      display: table;
      width: 100%;
      padding-right: 61px; }
      section.tourdates .eventsContainer ul li {
        background: url(../../img/pattern3.jpg) repeat-x;
        background-position: left bottom;
        display: table-row; }
        section.tourdates .eventsContainer ul li > div {
          display: table-cell;
          vertical-align: middle;
          padding-top: 12px;
          padding-bottom: 16px; }
        section.tourdates .eventsContainer ul li > div:first-child {
          width: 143px; }
        section.tourdates .eventsContainer ul li > div:nth-child(2) {
          width: 27px; }
        section.tourdates .eventsContainer ul li > div:last-child {
          padding-right: 46px; }
          section.tourdates .eventsContainer ul li > div:last-child a {
            float: right; }
    section.tourdates .eventsContainer .dateNumber {
      font-size: 50px;
      font-family: 'Oswald Bold';
      display: inline-block;
      padding-right: 3px;
      padding-left: 30px; }
    section.tourdates .eventsContainer .monthYear {
      display: inline-block;
      font-family: 'Oswald Bold';
      font-size: 23px; }
      section.tourdates .eventsContainer .monthYear > span:first-child {
        margin-bottom: -6px;
        margin-top: 6px; }
      section.tourdates .eventsContainer .monthYear > span {
        display: block; }
    section.tourdates .eventsContainer .line {
      width: 6px;
      height: 45px;
      display: block;
      background: #e4dddb; }
    section.tourdates .eventsContainer h3 {
      margin: 0;
      margin-top: -4px;
      letter-spacing: 0.050em !important; }
      section.tourdates .eventsContainer h3 .twoLines {
        padding-left: 27px;
        padding-right: 7px; }
    section.tourdates .eventsContainer a.buy {
      width: 123px; }

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1170px; }

  section.top {
    height: 100%; }
    section.top .row {
      height: 100%;
      display: block;
      width: auto; }
      section.top .row .col-md-16 {
        display: block; }
      section.top .row h1 {
        margin-top: 300px;
        margin-bottom: 300px; }

  section.tourdates .eventsContainer {
    left: 0;
    width: 100% !important;
    max-width: 1268px !important; }
  section.tourdates .jspContainer, section.tourdates .jspContainer {
    width: 100% !important;
    max-width: 1268px !important; }
  section.tourdates .jspPane {
    width: 100% !important;
    max-width: 1248px !important; } }
@media screen and (max-width: 1199px) {
  section.playlist .row:last-child ul.Discography li div.circleContainer {
    padding: 0px 15px; }
  section.playlist .row:last-child ul.Discography li div.listenButtonContainer {
    padding-left: 21px; } }
@media screen and (max-width: 991px) {
  section.ourband {
    padding-top: 15px;
    padding-bottom: 100px; }
    section.ourband .carousel-indicators {
      display: none; }
    section.ourband .item h2 {
      margin-bottom: 55px;
      margin-top: 10px; }
    section.ourband .item .row h1 {
      position: static !important;
      font-size: 62px;
      line-height: 62px; }

  section.playlist .row:first-child {
    display: block;
    margin-left: 0; }
    section.playlist .row:first-child .controlsContainer {
      position: static; }
    section.playlist .row:first-child .timelineContainer {
      margin-left: auto !important;
      margin-right: auto !important; }
    section.playlist .row:first-child .col-md-8:first-child {
      display: block;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px; }
      section.playlist .row:first-child .col-md-8:first-child img {
        display: inline-block; }
    section.playlist .row:first-child .col-md-8:last-child {
      display: block;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px; }
  section.playlist .row:last-child .col-md-8:first-child {
    text-align: center; }
  section.playlist .row:last-child h3.authorName {
    text-align: center;
    margin-left: 0; }
  section.playlist .row:last-child ul.Discography {
    display: inline-table; }
  section.playlist .row:last-child ul.tracks {
    margin-left: 0; }
    section.playlist .row:last-child ul.tracks li {
      padding-right: 0; }

  section.tourdates .eventsContainerTop .slide .contentContainer {
    right: 260px; }
    section.tourdates .eventsContainerTop .slide .contentContainer span {
      font-size: 9px;
      line-height: 9px; }

  footer {
    text-align: center;
    padding-bottom: 20px; }
    footer .row:last-child {
      margin-top: 200px; }
    footer ul.footer-menu {
      float: none;
      margin-top: 10px;
      text-align: center;
      display: inline-block; }
      footer ul.footer-menu li {
        float: none;
        display: inline-block;
        margin-bottom: 25px; }
    footer span.copy {
      font-size: 16px; } }
@media screen and (max-width: 767px) {
  h1 {
    font-size: 90px; }

  header {
    text-align: center; }
    header ul.main-menu {
      margin-top: 40px;
      text-align: center;
      display: inline-block; }
      header ul.main-menu li {
        float: none;
        display: inline-block;
        margin-bottom: 25px; }

  section.tourdates .eventsContainer ul {
    display: block;
    padding-right: 0; }
    section.tourdates .eventsContainer ul li {
      display: block;
      text-align: center; }
      section.tourdates .eventsContainer ul li > div {
        display: inline-block;
        padding-right: 0 !important; }
      section.tourdates .eventsContainer ul li > div:nth-child(3) {
        display: block; }

  footer {
    text-align: center; }
    footer .formContainer {
      position: static;
      margin-bottom: 20px; }
    footer .socialContainer {
      position: static;
      display: block; }
    footer h1 {
      font-size: 60px !important; } }
@media screen and (max-width: 479px) {
  section.playlist .row:last-child .col-md-8:first-child ul.Discography li {
    display: block;
    margin-bottom: 25px;
    text-align: center; }
    section.playlist .row:last-child .col-md-8:first-child ul.Discography li .nameContainer {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    section.playlist .row:last-child .col-md-8:first-child ul.Discography li .circleContainer {
      display: none !important; }
  section.playlist .row:last-child ul.tracks li a {
    padding-left: 0 !important;
    display: block;
    text-align: center; }
  section.playlist .row:last-child ul.tracks li span {
    float: none !important;
    display: block;
    text-align: center; } }
