.table{
	font-size: 15px;
	margin-top: 20px;
	td{
		vertical-align: middle !important;
		background-color: white;
		text-align: center;
		border:1px solid #ebedf2;
		font-weight: 500;
		padding-top: 18px !important;
		padding-bottom: 18px !important;
		overflow: hidden;
		word-wrap:break-word;
		>span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	td:first-child{
		text-align: left;
		padding-left: 30px;
		max-width: 200px !important;
	}
	td:last-child{
		padding:0px 15px;
	}
	td:nth-child(3){
		word-wrap:break-word;
	}
	thead{
		td{
			background-color:transparent !important;
			font-size: 15px;
			color:$blue-light;
			font-weight: 500;
			border:none !important;
			text-align: center;
		}
	}
	tr.active{
		.imgContainer:before{
			display: block;
		}
	}
	tbody{
		background: white;
	}
	.userInfo{
		display: inline-block;
		vertical-align: middle;
	}
	.userName{
		font-weight: bold;
		color:$blue-dark;
		font-size: 15px;
		line-height: 15px;
	}
	.userRole{
		display: block;
		color:$blue-light;
		font-size: 15px;
		line-height: 15px;
		text-align: left;
	}
	.imgContainer{
		width:48px;
		line-height: 48px;
		overflow: hidden;
		border-radius:100%;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin-right: 25px;
		img{
			width:100%;
		}
		&:before{
			content:'';
			display: block;
			background:#00bf1b;
			width:11px;
			height:11px;
			border-radius: 100%;
			border:3px solid white;
			position: absolute;
			top:10px;
			right:0px;
			display: none;
		}
	}
}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{
	background-color:white;
}
.simple-pagination{
	text-align: center;
	ul{
		display: inline-block;
		li:first-child,li:last-child{
			box-shadow: none !important;
		}
		li,li.active{
			border:none;
			box-shadow: none;
			box-shadow: 1px 1px 1px rgba(0,0,0,.4);
			a,span{
				padding:0px;
				display: block;
				text-align: center;
				line-height: 38px;
				width:38px;
				margin:0;
				color:$blue-dark;
				font-weight: 500;
				font-size: 14px;
				background:white;
				border:none;
				box-shadow: none;
				border-right:1px solid #f3f5f9;
				&:hover{
					color:$blue-lighten;
				}
			}
			span{
				margin:0;
			}
			.next,.prev{
				background:#f6f7fa;
				border:none;
				box-shadow: none;
				color:$blue-lighten;
				font-size: 30px;
				font-weight: bold;
			}
			.prev{
				border-right:1px solid #f3f5f9;
			}
			&.active{
				span{
					color:$blue-lighten !important;
				}
			}
			&.disabled{
				display: none;
			}
		}
	}
	span,a,li{
		border-radius:0px;
		border:none;
		background:white;
		color:$blue-dark;
	}
}