<% include ../../views/includes/header %>

<div class="col-md-4">
	<% include ../../views/includes/sidebar %>
</div>
<div class="col-md-8">
<h1 class='text-center'>About US</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dicta incidunt fugiat doloribus aperiam provident ut, excepturi assumenda soluta facilis necessitatibus vel itaque hic veniam odit, repudiandae doloremque harum velit ipsam, maiores fuga iure! Dolor dignissimos velit quam vel tempora, accusamus consequuntur veritatis similique nisi totam minima unde recusandae, eligendi.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dicta incidunt fugiat doloribus aperiam provident ut, excepturi assumenda soluta facilis necessitatibus vel itaque hic veniam odit, repudiandae doloremque harum velit ipsam, maiores fuga iure! Dolor dignissimos velit quam vel tempora, accusamus consequuntur veritatis similique nisi totam minima unde recusandae, eligendi.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dicta incidunt fugiat doloribus aperiam provident ut, excepturi assumenda soluta facilis necessitatibus vel itaque hic veniam odit, repudiandae doloremque harum velit ipsam, maiores fuga iure! Dolor dignissimos velit quam vel tempora, accusamus consequuntur veritatis similique nisi totam minima unde recusandae, eligendi.</p>
</div>

<% include ../../views/includes/footer %>