.blue-dark {
  color: #0e1a35; }

body {
  font-size: 14.4px;
  font-family: 'Roboto', sans-serif;
  color: #8492af; }

.displayInlineBlock {
  display: inline-block; }

.displayBlock {
  display: block; }

.displayNone {
  display: none; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: 400; }

.maxWidth650 {
  max-width: 650px; }

.maxWidth810 {
  max-width: 810px; }

.positionCenter {
  margin-left: auto;
  margin-right: auto; }

.blackOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center; }
  .blackOverlay .thanksContainer {
    background: white;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px; }
    .blackOverlay .thanksContainer .redLogo {
      width: 245px;
      line-height: 245px;
      text-align: center;
      display: inline-block;
      background: white;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2);
         -moz-box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2);
              box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2); }
      .blackOverlay .thanksContainer .redLogo img {
        max-width: 100%; }
    .blackOverlay .thanksContainer h1 {
      color: #d72d41;
      font-size: 33.6px;
      line-height: 33.6px;
      font-family: 'Montserrat',sans-serif;
      font-weight: bold;
      margin-top: -65px;
      margin-bottom: 0px; }
    .blackOverlay .thanksContainer h3 {
      color: #b9bcd1;
      font-size: 16.8px;
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      margin-top: 10px; }
    .blackOverlay .thanksContainer a.redButton {
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      color: white;
      font-size: 19.2px;
      background: #d72d41;
      display: inline-block;
      width: 100%;
      max-width: 230px;
      text-align: center;
      line-height: 62px;
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;
      margin-bottom: 60px;
      margin-top: 50px; }
      .blackOverlay .thanksContainer a.redButton:hover {
        background: #b02132; }

@-webkit-keyframes topBannerBg {
  0% {
    background-size: 100% 755px, 100% 755px; }
  100% {
    background-size: 0% 755px, 100% 755px; } }

@-moz-keyframes topBannerBg {
  0% {
    -moz-background-size: 100% 755px, 100% 755px;
         background-size: 100% 755px, 100% 755px; }
  100% {
    -moz-background-size: 0% 755px, 100% 755px;
         background-size: 0% 755px, 100% 755px; } }

@-o-keyframes topBannerBg {
  0% {
    -o-background-size: 100% 755px, 100% 755px;
       background-size: 100% 755px, 100% 755px; }
  100% {
    -o-background-size: 0% 755px, 100% 755px;
       background-size: 0% 755px, 100% 755px; } }

@keyframes topBannerBg {
  0% {
    -moz-background-size: 100% 755px, 100% 755px;
      -o-background-size: 100% 755px, 100% 755px;
         background-size: 100% 755px, 100% 755px; }
  100% {
    -moz-background-size: 0% 755px, 100% 755px;
      -o-background-size: 0% 755px, 100% 755px;
         background-size: 0% 755px, 100% 755px; } }
@-webkit-keyframes animateLine {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@-moz-keyframes animateLine {
  0% {
    -moz-transform: translateX(-100%);
         transform: translateX(-100%); }
  100% {
    -moz-transform: translateX(0%);
         transform: translateX(0%); } }
@-o-keyframes animateLine {
  0% {
    -o-transform: translateX(-100%);
       transform: translateX(-100%); }
  100% {
    -o-transform: translateX(0%);
       transform: translateX(0%); } }
@keyframes animateLine {
  0% {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%); } }
@-webkit-keyframes animateLineRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@-moz-keyframes animateLineRight {
  0% {
    -moz-transform: translateX(100%);
         transform: translateX(100%); }
  100% {
    -moz-transform: translateX(0%);
         transform: translateX(0%); } }
@-o-keyframes animateLineRight {
  0% {
    -o-transform: translateX(100%);
       transform: translateX(100%); }
  100% {
    -o-transform: translateX(0%);
       transform: translateX(0%); } }
@keyframes animateLineRight {
  0% {
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%); } }
@-webkit-keyframes animateHeader {
  0% {
    padding-top: 45px;
    padding-bottom: 1px; }
  100% {
    padding-top: 10px;
    padding-bottom: 10px; } }
@-moz-keyframes animateHeader {
  0% {
    padding-top: 45px;
    padding-bottom: 1px; }
  100% {
    padding-top: 10px;
    padding-bottom: 10px; } }
@-o-keyframes animateHeader {
  0% {
    padding-top: 45px;
    padding-bottom: 1px; }
  100% {
    padding-top: 10px;
    padding-bottom: 10px; } }
@keyframes animateHeader {
  0% {
    padding-top: 45px;
    padding-bottom: 1px; }
  100% {
    padding-top: 10px;
    padding-bottom: 10px; } }
@-webkit-keyframes animateHeaderBack {
  0% {
    padding-top: 10px;
    padding-bottom: 10px; }
  100% {
    padding-top: 45px;
    padding-bottom: 1px; } }
@-moz-keyframes animateHeaderBack {
  0% {
    padding-top: 10px;
    padding-bottom: 10px; }
  100% {
    padding-top: 45px;
    padding-bottom: 1px; } }
@-o-keyframes animateHeaderBack {
  0% {
    padding-top: 10px;
    padding-bottom: 10px; }
  100% {
    padding-top: 45px;
    padding-bottom: 1px; } }
@keyframes animateHeaderBack {
  0% {
    padding-top: 10px;
    padding-bottom: 10px; }
  100% {
    padding-top: 45px;
    padding-bottom: 1px; } }
a {
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none; }

h1 {
  color: white;
  font-size: 48px;
  line-height: 48px;
  font-weight: 100;
  word-wrap: break-word; }
  h1 + h2 {
    margin-top: 10px; }

h2 {
  font-size: 28.8px;
  line-height: 28.8px;
  color: #8492af;
  font-weight: 400;
  word-wrap: break-word; }

h3 {
  font-size: 19.2px;
  line-height: 19.2px;
  font-weight: bold;
  word-wrap: break-word;
  color: #0e1a35; }

p {
  word-wrap: break-word;
  line-height: 24px;
  margin-bottom: 18px; }

header {
  background: #0e1a35;
  padding-top: 45px;
  padding-bottom: 1px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%; }
  header .logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 27px;
    color: white; }
  header .mainMenu {
    padding-top: 10px; }
    header .mainMenu li {
      list-style: none; }
      header .mainMenu li a {
        font-size: 14.4px;
        color: white;
        padding: 0; }
        header .mainMenu li a:hover {
          color: #5584ff; }
    header .mainMenu li:not(:last-child) {
      padding-right: 37px; }
    header .mainMenu li:last-child a {
      display: inline-block;
      width: 90px;
      -webkit-border-radius: 20px;
         -moz-border-radius: 20px;
              border-radius: 20px;
      border: 1px solid #1c2f5e;
      color: #5584ff;
      text-align: center;
      padding: 9px 0px 11px 0px;
      margin-top: -10px; }
      header .mainMenu li:last-child a:hover {
        background: white; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 138px;
  padding: 0px 10px;
  line-height: 32px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  font-weight: bold;
  color: #0e1a35;
  text-align: center;
  border: 1px solid #e0e3eb; }
  .button:hover {
    background: #192e5d;
    color: white; }
  .button.blueButton {
    color: white;
    background: #5584ff;
    border: none;
    border-bottom: 1px solid #2a4486; }
    .button.blueButton:hover {
      background: #192e5d;
      color: white;
      border-color: transparent !important; }
  .button.whitLines {
    position: relative; }
    .button.whitLines:after, .button.whitLines:before {
      content: '';
      height: 1px;
      width: 155px;
      position: absolute;
      right: -180px;
      top: 15px;
      background: #e6e9ef; }
    .button.whitLines:after {
      left: -180px; }

.listCorrect {
  color: #5584ff;
  font-size: 17.6px;
  padding-left: 0;
  list-style: none;
  padding: 3px; }
  .listCorrect li {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative; }
    .listCorrect li:before {
      content: '';
      background-image: url(../img/correct.png);
      -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
           background-size: 100% 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0px;
      top: 2px; }
  .listCorrect li.notCorrect:before {
    background-image: url(../img/notCorrect.png) !important; }
  .listCorrect.listPricing {
    font-size: 14.4px;
    color: #8492af;
    padding: 0px 22px; }
    .listCorrect.listPricing li {
      margin-bottom: 8px; }
      .listCorrect.listPricing li:before {
        top: 0px; }

footer {
  background: #0e1a35;
  color: #8492af;
  padding: 47px 0px 31px 0px;
  margin-bottom: -1px; }
  footer a {
    color: #8492af; }
    footer a:hover {
      color: white; }
  footer ul {
    padding-left: 0;
    list-style: none; }
    footer ul li {
      float: left;
      margin-right: 40px; }
      footer ul li a {
        color: #8492af; }
  footer div.social a {
    margin-right: 10px; }

section.topBanner {
  background: url(../img/blueBg.jpg), url(../img/topBanner/topBannerBg.jpg);
  -moz-background-size: 100% 755px, 100% 755px;
    -o-background-size: 100% 755px, 100% 755px;
       background-size: 100% 755px, 100% 755px;
  background-repeat: no-repeat, no-repeat;
  background-color: white;
  background-position: 0px -30px;
  padding-top: 115px;
  position: relative;
  margin-top: 48px;
  padding-bottom: 105px; }
  section.topBanner .topBannerImg {
    margin-bottom: -87px;
    margin-top: 75px;
    display: inline-block; }
  section.topBanner h2 {
    margin-bottom: 59px; }
  section.topBanner.animateBg {
    -webkit-animation: topBannerBg 2.2s linear  forwards;
       -moz-animation: topBannerBg 2.2s linear  forwards;
         -o-animation: topBannerBg 2.2s linear  forwards;
            animation: topBannerBg 2.2s linear  forwards; }

.middleBanner {
  background: white; }
  .middleBanner .features {
    padding-top: 70px;
    margin-bottom: 91px; }
    .middleBanner .features > div {
      float: none !important;
      width: 33%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin-bottom: 50px;
      position: relative; }
      .middleBanner .features > div .imgContainer {
        display: inline-block;
        width: 100%;
        max-width: 62px;
        line-height: 59px; }
        .middleBanner .features > div .imgContainer img {
          max-width: 100%; }
      .middleBanner .features > div .button {
        margin-top: 12px; }
    .middleBanner .features > div:nth-child(3n+2):before {
      content: '';
      position: absolute;
      width: 50%;
      top: 30px;
      left: 0px;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
      height: 1px;
      background: #ebedf2; }
    .middleBanner .features > div:nth-child(3n+2):after {
      content: '';
      position: absolute;
      width: 50%;
      top: 30px;
      right: 0px;
      -webkit-transform: translateX(50%);
         -moz-transform: translateX(50%);
          -ms-transform: translateX(50%);
           -o-transform: translateX(50%);
              transform: translateX(50%);
      height: 1px;
      background: #ebedf2; }
  .middleBanner .browser {
    background: url(../img/middleBanner/browserBg.png) top right no-repeat;
    padding-bottom: 115px; }
    .middleBanner .browser h1 {
      margin-bottom: 30px;
      margin-top: 54px; }
    .middleBanner .browser .listCorrect {
      margin-top: 37px; }

._slider {
  min-height: 510px;
  background: url(../img/slider/sliderBg.jpg) no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }
  ._slider .item {
    padding-top: 140px;
    padding-bottom: 50px; }
    ._slider .item h1 {
      margin-top: 0;
      margin-bottom: 30px; }
    ._slider .item img {
      max-width: 100%;
      max-height: 400px; }
  ._slider .carousel-control {
    width: 26px;
    height: 26px;
    top: auto;
    right: auto;
    bottom: 50px !important;
    left: auto !important;
    -webkit-transition: all 0s linear !important;
       -moz-transition: all 0s linear !important;
         -o-transition: all 0s linear !important;
            transition: all 0s linear !important;
    background-image: none !important;
    opacity: 1;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    border: 1px solid #a5aec3;
    text-align: center;
    display: table; }
    ._slider .carousel-control img {
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -5px;
      margin-top: -9px; }
    ._slider .carousel-control.left {
      right: 447px; }
    ._slider .carousel-control.right {
      right: 402px; }
      ._slider .carousel-control.right img {
        margin-left: -4px; }
    ._slider .carousel-control:hover {
      opacity: 1 !important; }
  ._slider .carousel-indicators {
    display: none; }

.psdTemplate {
  background: #f6f7fa;
  padding-bottom: 69px; }
  .psdTemplate .button.blueButton {
    margin-top: 25px; }
  .psdTemplate h1 {
    padding-top: 62px;
    margin-top: 0;
    margin-bottom: 30px; }
  .psdTemplate .layoutsContainer {
    background: url(../img/psdTemplate/table.png) top center no-repeat;
    padding-top: 32px;
    padding-bottom: 75px;
    margin-top: 37px; }
  .psdTemplate .layout p {
    max-width: 185px; }
  .psdTemplate .layout h3 {
    position: relative;
    padding-bottom: 30px;
    min-width: auto !important;
    position: relative;
    overflow-x: hidden; }
    .psdTemplate .layout h3:before {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      top: 30px;
      left: 0px;
      background: #5584ff; }
    .psdTemplate .layout h3.showCircle:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 19px;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%;
      width: 26px;
      height: 26px;
      border: 6px solid #99b5ff;
      background: #5584ff; }
  .psdTemplate .layout.layoutLeft h3:before {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%); }
  .psdTemplate .layout.layoutLeft h3.animateLine:before {
    -webkit-animation: animateLine 0.8s linear forwards;
       -moz-animation: animateLine 0.8s linear forwards;
         -o-animation: animateLine 0.8s linear forwards;
            animation: animateLine 0.8s linear forwards; }
  .psdTemplate .layout.layoutRight {
    text-align: right;
    margin-top: 220px; }
    .psdTemplate .layout.layoutRight h3:before {
      -webkit-transform: translateX(100%);
         -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
           -o-transform: translateX(100%);
              transform: translateX(100%); }
    .psdTemplate .layout.layoutRight h3.animateLine:before {
      -webkit-animation: animateLineRight 0.8s linear forwards;
         -moz-animation: animateLineRight 0.8s linear forwards;
           -o-animation: animateLineRight 0.8s linear forwards;
              animation: animateLineRight 0.8s linear forwards; }
    .psdTemplate .layout.layoutRight h3:after {
      right: auto;
      left: 0px; }
    .psdTemplate .layout.layoutRight p {
      display: inline-block; }
  .psdTemplate .pricingContainer {
    text-align: center; }
    .psdTemplate .pricingContainer h1 {
      margin-bottom: 65px; }
    .psdTemplate .pricingContainer .pricingTable {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      background: white;
      -webkit-box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2);
         -moz-box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2);
              box-shadow: -1px 3px 54px -8px rgba(0, 0, 0, 0.2);
      text-align: center;
      margin-bottom: 65px;
      padding-top: 10px;
      padding-bottom: 20px; }
    .psdTemplate .pricingContainer .pricing {
      display: inline-block;
      color: #0e1a35;
      margin-top: 4px;
      margin-bottom: 15px; }
    .psdTemplate .pricingContainer .dollar {
      font-size: 32px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .psdTemplate .pricingContainer .amount {
      font-size: 56px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .psdTemplate .pricingContainer .month {
      color: #8492af;
      font-size: 19.2px; }

@media screen and (max-width: 1199px) {
  .middleBanner .browser {
    text-align: center;
    background-image: none; }
    .middleBanner .browser .listCorrect li:before {
      position: static;
      display: inline-block;
      padding-top: 2px; } }
@media screen and (min-width: 768px) {
  header.smallHeader {
    -webkit-animation: animateHeader 0.3s linear forwards;
       -moz-animation: animateHeader 0.3s linear forwards;
         -o-animation: animateHeader 0.3s linear forwards;
            animation: animateHeader 0.3s linear forwards; }
  header.smallHeaderBack {
    -webkit-animation: animateHeaderBack 0.3s linear forwards;
       -moz-animation: animateHeaderBack 0.3s linear forwards;
         -o-animation: animateHeaderBack 0.3s linear forwards;
            animation: animateHeaderBack 0.3s linear forwards; } }
@media screen and (max-width: 767px) {
  .button.whitLines:after, .button.whitLines:before {
    display: none; }

  .blackOverlay .thanksContainer .redLogo {
    width: 200px;
    line-height: 200px; }

  header {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
    header .navbar-collapse {
      border: none !important;
      -webkit-box-shadow: none !important;
         -moz-box-shadow: none !important;
              box-shadow: none !important; }
    header .navbar-header {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 1; }
      header .navbar-header button {
        background-color: #5584ff;
        padding: 8px 8px; }
      header .navbar-header span.icon-bar {
        background: white; }
    header .mainMenu {
      padding-left: 0;
      text-align: center;
      padding-bottom: 30px; }
      header .mainMenu li {
        padding: 20px 0px !important; }
        header .mainMenu li a {
          font-size: 22px; }
      header .mainMenu li:last-child a {
        width: 130px; }

  .middleBanner .features > div {
    display: block;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto; }
  .middleBanner .features > div:nth-child(3n+2):after, .middleBanner .features > div:nth-child(3n+2):before {
    display: none !important; }

  ._slider {
    text-align: center; }
    ._slider .carousel-control {
      position: static !important;
      display: inline-block !important;
      bottom: 20px;
      margin: 0px 10px 30px 0px; }
      ._slider .carousel-control img {
        position: relative !important;
        top: 3px !important;
        left: 5px !important;
        margin: 0 !important;
        display: block !important; }
      ._slider .carousel-control.right {
        margin: 0px 0px 30px 10px; }
        ._slider .carousel-control.right img {
          left: 8px !important; }

  .psdTemplate .layoutsContainer {
    -moz-background-size: 65%;
      -o-background-size: 65%;
         background-size: 65%;
    background-position: center center; }
  .psdTemplate .layout p {
    font-weight: bold; }
  .psdTemplate .pricingContainer > div {
    text-align: center !important; }

  footer {
    text-align: center; }
    footer ul.pull-right {
      float: none !important;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
      text-align: center; }
      footer ul.pull-right li {
        display: inline-block;
        float: none;
        margin-left: 20px;
        margin-right: 20px; }
    footer div.social {
      float: none !important;
      display: none; }
      footer div.social a {
        margin-right: 20px; }
    footer .social.displayNone {
      display: inline-block !important; } }
@media screen and (max-width: 479px) {
  .blackOverlay .thanksContainer {
    margin-top: 50px; } }
