@media screen and (max-width:1199px){
	section.advantages{
		.advantagesContent{
			padding-right: 15px;
		}
	}

	section.portfolio{
		.imgContainer{
			line-height: 244px;	
		}
	}

	section.blog{
		.imgContainer{
			line-height: 208px;
			height:208px;
		}
	} 
}