$white:white;
$blue-dark:#0e1a35;
$blue-lighten:#5584ff;
$blue-light:#8492af;
$blue-button-bg:#5584ff;
$blue-button-border:#2a4486;
$pink:#f83c7b;
$greenColor:#00bf1b;
.blue-dark{
	color:$blue-dark;
}
.blue-light{
	color:$blue-light;
}
._pinkColor{
	color:$pink;
}
._greenColor{
	color:$greenColor;
}
